@mixin h1Sections {
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 2em;
}

@mixin pSections {
    font-size: 20px;
    line-height: 2;
    padding-bottom: 2rem;
}

@mixin h3Sections{
    font-size: 35px;
    margin-top: 1em;
    margin-bottom: 1em;
}

main{
    background-color: rgb(193,174,109);
}

.container-section1{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start
    ;
    h1{
        @include h1Sections();
    }
    p{
        @include pSections();
    }
    video{
        width: 70%;
        align-self: center;
    }

}

.container-section2{
    padding: 1em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
    h1{
        @include h1Sections();
    }
    p{
        @include pSections();
    }
    h3{
        @include h3Sections();
    }
}
.container-ch1{
    padding: 1em;
    display: flex;
    align-items: center;
    img{
        background-color: white;
        width: 150px;
        border-radius: 10px;
        border: 2px solid rgb(49,70,71);
    }
    .descriptionPlayer1{
        padding-left: 3em;
    }
}

.container-ch2{
    padding: 1em;
    display: flex;
    align-items: center;
    img{
        background-color: white;
        width: 500px;
        border-radius: 10px;
        border: 2px solid rgb(49,70,71);
        }
    .descriptionPlayer2{
        padding-right: 3em;
    }
}

.container-section3{
    padding: 1em;
    h1{
        @include h1Sections();
    }
}
